header {
    background-color: #f1f1f1;
    border:1px solid #cccccc;
    flex-grow: inherit;
}

header ul {
    list-style: none;
}

header ul li {
    position: relative;
    float: left;
}

header ul li a {
    text-decoration: none;
}