header {
    background-color: #fc0;
    flex-grow: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

header ul {
    list-style: none;
}

header ul li {
    position: relative;
    float: left;
}

header ul li a {
    text-decoration: none;
}