header {
    background-color: #fc0;
    flex-grow: inherit;
}

header ul {
    list-style: none;
}

header ul li {
    position: relative;
    float: left;
}

header ul li a {
    text-decoration: none;
}