footer {
    background-color: #111111;
    box-shadow: 0 0 5px #000000;
}

footer ul {
    list-style: none;
}

footer ul li {
    position: relative;
    float: left;
}

footer ul li a {
    text-decoration: none;
}